* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 94%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.wrapper {
  background-color: hsl(0, 0%, 100%);
  width: 70%;
  border-radius: 5px 5px 50px 5px;
  padding: 40px;
  margin: 25px;
  font-family: "Poppin", sans-serif;
}

.name-input {
  margin-bottom: 15px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
  padding: 10px;
  font-family: papyrus;
  align-self: flex-start;
  min-width: 50%;
  outline: none;
  cursor: pointer;
}

.wrapper .name-input::placeholder {
  color: rgb(156, 152, 152);
}

.header {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.header .date-box {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.header .date-box .msg {
  font-size: 10px;
  margin-top: 3px;
  font-style: italic;
  padding-top: 3px;
  display: none;
}

.error-msg {
  font-size: 10px;
  margin-top: 3px;
  font-style: italic;
  font-weight: 100;
  padding-top: 3px;
  color: red;
  display: none;
}
.error-msg-active {
  display: block;
}

.header label {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 700;
}

.error-label {
  display: block;
  color: red;
}

.header input {
  width: 100px;
  padding: 10px;
  border: 1px solid rgb(225, 216, 216);
  border-radius: 5px;
  font-weight: bolder;
  outline: none;
}
.header input.error-border {
  border: 1px solid red;
}

.header input:active {
  border: 1px solid black;
  cursor: pointer;
}

.middle-design {
  display: flex;
  flex-direction: column;
  position: relative;
}

.icon-box {
  background-color: hsl(259, 100%, 65%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  top: -25px;
  cursor: pointer;
}

.icon-box:active {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 5);
  border: 2px solid white;
}
.icon-box:hover {
  border: 2px solid white;
}

hr {
  border: 1px solid rgb(233, 225, 225);
}

main {
  margin-top: 30px;
  font-style: italic;
}

main .year-box {
  display: flex;
  align-items: center;
}

.year-box span {
  color: hsl(259, 100%, 65%);
  font-size: 5rem;
  font-weight: bold;
  padding-right: 6px;
  transition: all 0.5s ease-in-out;
}

.year-box p {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

@media (min-width: 501px) and (max-width: 1440px) {
  .wrapper {
    width: 70%;
  }

  .header {
    width: 100%;
  }

  .header .date-box {
    width: 35%;
  }

  .header .date-box .year-input,
  .header .date-box .month-input,
  .header .date-box .day-input {
    width: 100%;
  }

  .header input.error-border {
    border: 1px solid red;
  }

  .header input:active {
    border: 1px solid black;
    cursor: pointer;
  }

  .middle-design {
    margin-top: 20px;
  }

  .year-box p {
    font-size: 3.6rem;
  }
}

@media (max-width: 500px) {
  .wrapper {
    width: 60%;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header .date-box {
    width: 50%;
    margin-right: 5px;
    margin-bottom: 30px;
  }

  .header input {
    width: 40px;
  }

  .header .date-box .year-input,
  .header .date-box .month-input,
  .header .date-box .day-input {
    width: 100%;
  }

  .middle-design {
    margin-top: 20px;
  }

  .icon-box {
    left: 50%;
    transform: translateX(-50%);
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .year-box span {
    font-size: 2.5rem;
  }

  .year-box p {
    font-size: 2rem;
  }
}
